*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2024_17_31_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2024_17_31__Changes_.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_22_04_2024_17_31_[Changes]/shelved.patch
